<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AntumID-serverBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="AntumID-serverBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://www.antumid.be/services-digibyte/api/v1/server"
                binding="basicHttpBinding" bindingConfiguration="AntumID-serverBinding"
                contract="OpenAntumIDSOAP.AntumIDserverPortType" name="AntumID-serverPort" />
        </client>
    </system.serviceModel>
</configuration>